@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;

.HomePage {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	.hero {
		display: flex;
		flex-direction: column;
		gap: 25px;
		width: 100%;
		@media (max-width: $phone) {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			gap: 5px;
		}
		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}
	}
	.wrapper {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		height: 50vh;
		overflow: hidden;
		justify-content: center;
		align-items: center;
		@media (max-width: $phone) {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.hero-text {
			color: white;
			font-size: 3.6rem;
			position: relative;
			@media (max-width: $tablet) {
				font-size: 3rem;
			}
			@media (max-width: $phone) {
				font-size: 2rem;
			}
		}
		.dynamic-text {
			height: 92px;
			line-height: 90px;
			overflow: hidden;
			@media (max-width: $phone) {
				height: 80px;
				line-height: 90px;
				overflow: hidden;
			}
		}
		.dynamic-text li {
			list-style: none;
			color: #fff;
			font-size: 4.5rem;
			font-weight: bold;
			position: relative;
			top: 0;
			animation: slide 12s steps(4) infinite;
			@media (max-width: $tablet) {
				font-size: 3rem;
			}
			@media (max-width: $phone) {
				font-size: 2rem;
			}

			&::after {
				content: "";
				position: absolute;
				left: 0;
				height: 100%;
				width: 100%;
				background: #10121b;
				border-left: 2px solid #fff;
				animation: typing 3s steps(10) infinite;
			}
		}
		.hero-text {
			margin-right: 4px;
		}
	}
	.h-sub-text {
		text-align: center;
		font-size: 1.6rem;
		margin: 0;
	}
	.socialContact {
		height: 10vh;
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	.divsWrapper {
		width: 50%;
		height: 8vh;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-left: 20%;
		@media (max-width: $phone) {
			width: 100%;
		}
	}
	.plusBtn {
		transition: all 0.2s linear;
		color: rgb(109, 108, 108);
		background: whitesmoke;
		height: 40px;
		width: 40px;
		margin-right: 2%;
		border-radius: 50%;
		font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
		font-size: 25px;
		text-align: center;
		line-height: 35px;
		cursor: pointer;
		@media (max-width: $phone) {
			font-size: 25px;
			height: 36px;
			line-height: 35px;
		}
	}

	.shareBtn {
		height: 6vh;
		width: 40%;
		border-radius: 25px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;
		@media (max-width: $phone) {
			width: 100%;
		}
		.socialPart {
			width: 100%;
			display: flex;
			align-items: center;
			margin-top: 2%;
			animation: contactSlide 1s ease 0s 1 normal forwards;
		}
		.social1,
		.social2,
		.social3,
		.social4,
		.social5 {
			height: 40px;
			width: 40px;
			border-radius: 50%;
			font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
			font-size: 35px;
			color: #fff;
			text-align: center;
			line-height: 35px;
			margin-right: 10px;
			cursor: pointer;
			@media (max-width: $phone) {
				font-size: 25px;
				margin-right: 2px;
			}
		}
		.msg {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 25px;
			letter-spacing: 2px;
			color: rgb(109, 108, 108);
			line-height: 6vh;
			@media (max-width: $phone) {
				font-size: 25px;
				margin-left: -35%;
			}
		}
		.msgSlide {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 25px;
			letter-spacing: 2px;
			color: rgb(109, 108, 108);
			animation: slideOut 1s ease 0s 1 normal forwards;
			@keyframes slideOut {
				0% {
					opacity: 1;
					transform: translateY(0);
				}

				100% {
					opacity: 1;
					transform: translateY(-150px);
				}
			}
		}
	}
	.msgHideDiv {
		display: none;
	}
	.socialPartHideDiv {
		display: none;
	}
	@keyframes contactSlide {
		0% {
			opacity: 0;
			transform: translateY(50px);
		}

		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes slide {
		100% {
			top: -360px;
		}
	}

	@keyframes typing {
		40%,
		60% {
			left: calc(100% + 30px);
		}
		100% {
			left: 0;
		}
	}
}
